* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row {
    width: 25%;
    padding: 0 6px;
}

.col {
    flex-wrap: wrap;
    display: flex;
}

.header {
    margin: 0 140px;
    display: flex;
    justify-content: space-between;
    height: 55px;
}

.menu-list {
    display: flex;
    list-style-type: none;
    line-height: 50px;
}

.menu-item {
    padding-right: 20px;
    color: #808080;
    font-size: 14px;                         
    display: flex;
    align-items: center;
}

.other {
    display: flex;
    align-items: center;
}

.search {
    padding: 8px 7px;
    border: 1px solid#C0C0C0;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0.6;
}
input {
    border: none;
    outline: none;
}

.slider {
    position: relative;
}

.slider img {
    width: 100%;
}

.slider .text {
    position: absolute;
    top: 50%;
    margin-left: 140px;
    transform: translateY(-126px);

}

.text {
    opacity: 0.7;
}

.text h1 {
    font-size: 60px;
}

.text p {
    font-size: 23px;
}


/* Content */
.content {
    margin: 48px 140px;
}

.content-header {
    display: flex;
    justify-content: space-between;
}

.search-content {
    padding: 8px 7px;
    border-bottom: 1px solid#C0C0C0;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0.6;
}

.search-body {
    display: flex;
}

.selection button{
    outline: none;
    border: none;
    padding: 10px 27px;
    color: #1DA066;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #fff;
}

.selection {
    position: relative;
}

.selection button:nth-child(2)::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 16px;
    right: 86px;
    background-color: #9AF9CF;
}

.selection button:nth-child(2)::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 16px;
    left: 123px;
    background-color: #9AF9CF;
}


.selection .active {
    background-color: #1DA066;
    color: #fff;
}

.search-body button {
    outline: none;
    border: none;
    margin-left: 20px;
    padding: 10px 27px;
    font-size: 14px;
    color: #808080;
}

.item p {
    font-weight: 700;
    font-size: 16px;
}

.price {
    display: flex;
    align-items: center;
}

.image {
    width: 35px;
    height: 35px;
}

.image img {
    margin-left: 140px;
    width: 100%;
}

.item .price-sale {
    font-size: 21px;
}

.item span {
    color: #808080;
    font-size: 14px;
}

.price {
    margin-top: 14px;
}
/* Content footer */
.content-footer  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.content-footer ul {
    display: flex;
}

.content-footer li {
    list-style-type: none;
    padding: 0 20px;
}

.content-footer a {
    text-decoration: none;
    color: #808080;
}

/* footer */

.footer {
    width: 100%;
    background-color: #0B0732;
}

.container {
    margin: 0 140px;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
}

.feed-back {
    color: #fff;
    display: flex;
}

.feed-back ul {
    list-style-type: none;
}

.home, .help, .contact {
    margin-left: 60px;
}

p {
    font-weight: 800;
    font-size: 18px;
    padding-bottom: 10px;
}

.container li {
    padding-bottom: 10px;
}

.contact li:nth-child(2), .contact li:nth-child(4) {
    font-weight: 700;
}

.confirm {
    color: #fff;
}

.submit {
    border: 1px solid #C0C0C0;
    border-radius: 10px;
    overflow: hidden;
}

.submit input {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 10px 20px;
}

.submit button {
    outline: none;
    border: none;
    background-color: #0FA55C;
    color: #fff;
    padding: 10px 20px;
    margin-left: 15px;
    font-size: 16px;
}

.social {
    padding-top: 20px;
}

.social img {
    margin-right: 10px;
}
