* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.body {
  height: 1000px
}

 #content_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #f7f8f9;
    height: 50px;
    margin-top: 10px;
 }
 .left {
    position: relative;
    left: -120px;
 }
 .center ul  {
    display: flex;
    list-style:none;
    gap: 20px;
    align-items: center;
    font-size: 16px;
    height: 50px;
 }
 .center ul li {
    height: 50px; 
    padding: 10px;
 }
 .center ul .list_1 {
    border-bottom: 2px solid #06bed7;
    color:#06bed7 ;
   
 }
 .center {
    position: relative;
    left: -360px;
 }
 .right {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    margin-right: -100px;
 }
 .right .search {
  padding: 8px 10px;
  background-color: #ECF1EC;
  border-radius: 5px;

 }
 .search input {
  border: none;
  background-color:#ECF1EC ;
  font-size: 16px
 }
 .top {
   margin-top: 40px;
   margin-left: 250px;
 }
 .top h1 {
   margin: 10px 0px;
   font-size: 50px;
 }
  .span_1 {
   color: grey;
 }
 .top .top_star {
   display: flex;
   justify-content: space-between;
 }
 .top .top_star .share_save {
   gap: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 310px;
 }
 .center_img {
   display: flex;
   align-items: center;
   margin-top: 40px;
 }
.img_big {
  margin-left: 250px;
  margin-right: 15px;

}
.img_big img {
  width: 100%
}

.img_small_1  img {
  margin-right: 15px;
  margin-bottom: 13px;
}
.img_small_2  img {
  margin-right: 15px;
}
.content_center {
  border-bottom: 1px solid #f7f8f9;
}

.center_product {
  display: flex;
  justify-content: space-between;
}
.center_product .product_left {
  margin-left: 250px;
}
.des {
  margin-top: 40px;
  width: 80%;
  margin-bottom: 40px;
}
.des h1 {
  margin-bottom: 40px;
}
.service {
  display: flex;
  align-items: center;
  width: 55%;

}
.service .service_left {
  margin-right: 30px;
}
.service_list {
  display: flex;
  align-items: center;
}
.service_list img {
  margin-right: 5px;
}
.product_right {
  margin-right: 300px;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid rgb(179, 176, 176);
  width: 550px;
  border-radius: 5px;

}
.price {
  display: inline-block;
  margin-left: 250px;
  font-size: 25px;
  padding-top: 5px;
  color:#06bed7;
  margin-bottom: 10px;
}
#color {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: rgb(231, 225, 225);
}
.price_list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.title {
  color: grey;
}
.title_1 {
  font-weight: 700;
}
.btn_buy {
  width: 300px;
  padding: 10px;
  background-color: #06bed7;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
}
.btn_buy button {
  border: none;
  font-size: 20px;
  color: white;
  background-color: #06bed7;
}
.btn_add {
  display: flex;
  width: 300px;
  padding: 10px;
  border: 1px solid #06bed7;
  border-radius: 5px;
  height: 40px;
  justify-content: center;
  align-items: center;

}
.btn_add button {
  display: flex;
  background-color: white;
  border: none;
  align-items: center;
  gap: 5px;
  color: #06bed7;
}
.reviews {
  
}
.reviews_top {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.reviews_font {
  font-size: 20px;
  font-weight: 700;
}
.reviews_top_left {
  margin-left: 250px;
}
.reviews_top p {
  color: grey;
  margin-right: 300px;
}
.reviews_list_top {
  display: flex;
  align-items: ;
  flex-direction: column;
}
.img_star {
  display: block;
  position: relative;

}



